.btn {
    height: 52px;
    font-size: 16px;
    padding: 16px 30px;
    border-radius: 26px;
    background: $main-color;
    text-decoration: none;
    transition: all .3s;
    &:hover {
        text-decoration: none;
        color: $text-color;
        filter: brightness(90%);
        box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
        transition: all .3s;
    }
    &_border {
        background: #fff;
        font-size: 14px;
        font-weight: 600;
        border: 1px solid $main-color;
        color: $text-color;
        &:hover {
            text-decoration: none;
            color: $text-color;
            box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
            filter: brightness(90%);
        }
    }
    &_big {
        height: 70px;
        border-radius: 35px;
    }
    &_gradient {
        background: linear-gradient(90deg, rgba(108,182,68,1) 0%, rgba(130,202,44,1) 70%);
        color: #fff;
        font-weight: 700;
        line-height: 14px;
    }
    &_arrow {
        position: relative;
        padding-right: 27px;
        &:before {
            position: absolute;
            content: '';
            background: #fff;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            right: 10px;
            bottom: 9px;
        }
        .arrow {
            margin-left: 37px;
            position: relative; 
        }
    }
}
